</div>
<div class="lt-loader">
    <img src="{{ '/assets/img/loader.svg' | absolute_url }}" alt="">
</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.js"></script>
<script src="{{ '/assets/js/Ideal-Postcodes.js' | relative_url }}"></script>

<script src="{{ '/assets/js/app.js' | relative_url }}"></script>

</body>
</html>