<div class="lt-section-2">
    <div class="container">
        <div class="row">

            <div class="lt-bg-white ie-container-width-fix-2">
                <div class="container ie-h-align-center-fix">
                    <div class="row">
                        <div class="lt-form-wrapper">
                            <form id="contact" action="" method="get" class="lt-search-form lt-section-pad-2">
                               <div>
                                   <h3>Email:</h3>
                                   <section>
                                       <div class="form-row lt-search-form-row">
                                           <div class="form-group lt-form-element lt-form-element-100">
                                               <i class="fa fa-envelope fa-2x lt-form-element-icon"></i>
                                               <input name="email" type="email" class="form-control required" id="inputEmail" placeholder="Type your email...">
                                           </div>

                                       </div>
                                   </section>

                                 <h3>Details:</h3>
                                   <section>
                                       <div class="form-group lt-form-element lt-form-element-50">
                                           <i class="fa fa-user fa-2x lt-form-element-icon"></i>
                                           <input name="full-name" type="text" class="form-control required" id="inputName" placeholder="Full name...">
                                       </div>



                                       <div id="postcode_lookup_field"></div>
                                       <p>(*) Mandatory</p>
                                   </section>


                                   <h3>Finish</h3>
                                   <section>
                                       <div class="wizard-final">
                                           <p>Please check your details than click finish: </p>
                                           <p ><strong> Name</strong>: <span class="wizard-content_name"></span></p>
                                           <p ><strong>Email: </strong><span class="wizard-content_email"></span></p>
                                           <p ><strong>Address: </strong><span class="wizard-content_address"></span></p>
                                       </div>

                                   </section>
                               </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>





        </div>
    </div>
</div>

