
{% include header.html %}

        <!-- -/ - start - Banner -/ -->
        {% include banner.html %}
        <!-- -/ - start - Paragraph -/ -->
        <!-- -/ - end - Paragraph -/ -->
        {% include paragraph.html %}
        <!-- -/ - end - banner -/ -->
        <!-- -/ - start - Form-/ -->
        {% include form.html %}
        <!-- -/ - end - Form -/ -->
        <!-- -/ - start - Three blocks -/ -->
        {% include three_columns.html %}
        <!-- -/ - end - Three blocks -/ -->

{% include footer.html %}