{% include header.html %}

        <!-- -/ - start - Banner -/ -->
        {% include banner.html %}
        <!-- -/ - start - Paragraph -/ -->

    <div class="lt-parag">
        <div class="container">
            <div class="row text-center">
                <div class="col text-center">

                    <h2 class="lt-black-title">{{ page.title }}</h2>
                    <p class="lt-section-subtitle"> {{ content }}</p>

                </div>
            </div>
        </div>

    </div>
    <!-- -/ - end - Paragraph -/ -->

{% include footer.html %}